.raceDetail {
  margin: 16px;
  padding: 8px 0px 24px 14px;
  border-bottom: 1px solid;
}

.highlight {
  color: #00afef;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
